name: ci-build
on:
  push:
    branches:
      - master
    tags-ignore:
      - '*.*'
  pull_request:
    branches:
      - master

jobs:
  golangci:
    name: GolangCI Lint
    runs-on: ubuntu-20.04
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.20.x
        
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.52.0
        skip-pkg-cache: true
        skip-build-cache: true
        args: --config=./.golangci.yml --verbose


